<!-- test
<meta name="twitter:card" content="player">
<meta name="twitter:site" content="@nocarsscott">
<meta name="twitter:creator" content="@nocarsscott">
{% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
{% else %}
  <meta name="twitter:title" content="{{ site.title }}">
{% endif %}
{% if page.url %}
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
{% endif %}
{% if page.description %}
  <meta name="twitter:description" content="{{ page.description }}">
{% else %}
  <meta name="twitter:description" content="{{ site.description }}">
{% endif %}
{% if page.image %}
  <meta name="twitter:image:src" content="{{ site.url }}/posts/{{ page.image }}">
{% else % }
  <meta name="twitter:image:src" content="{{ site.url }}/scottsmith93.github.io/assets/ss.jpg">
{% else % }
  <meta name="twitter:image:src" content="{{ site.url }}/scottsmith93.github.io/assets/ss.jpg">
{% endif %}

-->
