
<!-- Twitter cards
<meta name="twitter:site"    content="@{{ site.twitter_username }}">
<meta name="twitter:creator" content="@{{ page.author }}">
<meta name="twitter:title"   content="{{ page.title }}">

{% if page.summary %}
<meta name="twitter:description" content="{{ page.summary }}">
{% else %}
<meta name="twitter:description" content="{{ site.description }}">
{% endif %}

{% if page.image %}
<meta name="twitter:card"  content="/assets/ss.jpg">
<meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
{% else %}
<meta name="twitter:card"  content="summary">
<meta name="twitter:image" content="{{ site.title_image }}">
{% endif %}
 end of Twitter cards -->

<!--

 <meta name="twitter:card" content="summary">
 <meta name="twitter:site" content="@nocarsscott">
 <meta name="twitter:creator" content="@nocarsscott">
 {% if page.title %}
   <meta name="twitter:title" content="{{ page.title }}">
 {% else %}
   <meta name="twitter:title" content="{{ site.title }}">
 {% endif %}
 {% if page.url %}
   <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
 {% endif %}
 {% if page.description %}
   <meta name="twitter:description" content="{{ page.description }}">
 {% else %}
   <meta name="twitter:description" content="{{ site.description }}">
 {% endif %}
 {% if page.image %}
   <meta name="twitter:image:src" content="{{ site.url }}/assets/ss.jpg{{ page.image }}">
 {% else % }
   <meta name="twitter:image:src" content="{{ site.url }}/assets/ss.jpg">
 {% else % }
   <meta name="twitter:image:src" content="{{ site.url }}/assets/ss.jpg">
 {% endif %} -->


 <meta name="twitter:card" content="summary" />
 <meta name="twitter:site" content="@nocarsscott" />
 <meta name="twitter:creator" content="@nocarsscott" />
 <meta property="og:url" content="http://bits.blogs.nytimes.com/2011/12/08/a-twitter-for-my-sister/" />
 <meta property="og:title" content="A Twitter for My Sister" />
 <meta property="og:description" content="In the early days, Twitter grew so quickly that it was almost impossible to add new features because engineers spent their time trying to keep the rocket ship from stalling." />
 <meta property="og:image" content="/Users/scott.smith/Documents/GitHub/PersonalBlog/scottsmith93.github.io/assets/ss.jpg" />
