<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="shortcut icon" type="image/x-icon" href="/favicon.jpg">
			{% include "/_includes/head.html" %}
		</head>
		<body>
			<nav>
	    		<ul>
				<li><a href="/">Home</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
				<li><a href="https://github.com/scottsmith93">github.com/scottsmith93</a></li>
	        		<li><a href="mailto:scttsmth93@gmail.com">Send me an email</a></li>
				</ul>
			</footer>
		</body>
	</html>
