<!DOCTYPE html>
	<html>
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<!-- Twitter cards -->
			<meta name="twitter:site"    content="@{{ site.twitter_username }}">
			<meta name="twitter:creator" content="@{{ page.author }}">
			<meta name="twitter:title"   content="{{ page.title }}">

			{% if page.summary %}
			<meta name="twitter:description" content="{{ page.summary }}">
			{% else %}
			<meta name="twitter:description" content="{{ site.description }}">
			{% endif %}

			{% if page.image %}
			<meta name="twitter:card"  content="summary">
			<meta name="twitter:image" content="https://scottsmith93.github.io/favicon.jpg">
			{% else %}
			<meta name="twitter:card"  content="summary">
			<meta name="twitter:image" content="{{ site.title_image }}">
			{% endif %}
			<!-- end of Twitter cards -->
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="shortcut icon" type="image/x-icon" href="/favicon.jpg">
		</head>
		<body>
			<nav>
	    		<ul>
				<li><a href="/">Home</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
				<li><a href="https://github.com/scottsmith93">github.com/scottsmith93</a></li>
	        		<li><a href="mailto:scttsmth93@gmail.com">Send me an email</a></li>
				</ul>
			</footer>
		</body>
	</html>
